<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.11.0"/>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if current_user %>
      <p><%= link_to "Sign out", users_sign_out_path %></p>
    <% else %>
      <p><%= link_to "Sign in", users_sign_in_path %></p>
    <% end %>

    <div style="border: 1px solid gray; padding: 10px; margin-bottom: 10px;">
      <p><strong>Current user:</strong>
        <%= current_user&.email.to_s %></p>
      <p><strong>Current admin:</strong>
        <%= current_admin&.email.to_s %></p>
    </div>

    <% flash.each do |kind, msg| %>
      <%= tag.div(class: kind) { msg } %>
    <% end %>

    <%= yield %>
  </body>
</html>
